#videos_holder{
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    height: 48vh;
}
#videos_holder h1{
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 350%;
    font-weight: 100;
}
#video_contents{
    padding: 1%;
    text-align: left;
}